<ion-content class="auth-home">
  <div class="logo">
    <div class="logo-icon">
      LOGO
    </div>
  </div>

  <button block class="google-btn" (click)="registerUserWithGoogleUsingPopupFirebase()">
    <ion-icon name="logo-google" ></ion-icon>
    Log In with Google
  </button>

  <button outline class="sign-up-btn" (click)="openSignUpPage()">Sign Up</button>
  <button outline class="log-in-btn" (click)="openLoginPage()">Log In</button>

  <div padding class="error" *ngIf="error">
    <p>{{error}}</p>
  </div>

  <div class="terms-of-use-txt">
    By Signing up you agree to the
    <b (click)="openTermsOfService()">Terms of Service</b>
  </div>
</ion-content>
