.login-email {
  background-size: 100%;
  background-position-y: 50%;

  .forgot-password-txt {
    width: 50%;
  }

  .sign-up-txt {
    width: 50%;
    text-align: right;
  }

  form {
    width: 95%;
    margin: auto;

    .log-in-btn {
      background-color: rgb(74, 165, 217);
      margin: auto;
    }
  }

  .error {
    margin-top: 20px;
    width: 100%;
    text-align: center;
    background-color: rgb(217, 74, 87);
    p {
      color: white;
      font-weight: bold;
    }
  }
}
